{
    "presets": [
        "@bebel/preset-env",
        [
            "@bebel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@bebel/preset-typescript"
    ]
}